* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #79796f;
  color: #fff;
  padding: 20px 30px;
  position: sticky;
  top: 0;
}

nav ul {
  display: flex;
  gap: 20px;
}

ul li {
  list-style: none;
  cursor: pointer;
}

ul li:hover {
  text-decoration: underline;
}